{"isManualModeOn":true,"isAutoReadingModeOn":false,"isSkipModeOn":false,"textShowDuration":0.04853274,"lineSwitchDuration":1.35529613,"skipModeLineSwitchDuration":0.101372816,"bgmVolume":0.6235514,"isBgmMute":false,"voicesVolume":0.294080764,"isVoicesMute":false,"soundVolume":0.5,"isSoundMute":false,"isFullScreenModeOn":false,"resolution":"1280x720","showCGInSkipMode":true,"showSpecialEffects":true,"showTextShadow":true,"showAnimation":true,"appActiveInBackground":true,"appLanguage":"日本语","characterVoicesSwitcher":{"Ryougi":true}}
