{"isManualModeOn":true,"isAutoReadingModeOn":false,"isSkipModeOn":false,"textShowDuration":0.03,"lineSwitchDuration":3.0,"skipModeLineSwitchDuration":0.1,"bgmVolume":0.5,"isBgmMute":false,"voicesVolume":0.5,"isVoicesMute":false,"soundVolume":0.5,"isSoundMute":false,"isFullScreenModeOn":false,"resolution":"1280x720","showCGInSkipMode":true,"showSpecialEffects":true,"showTextShadow":true,"showAnimation":true,"appActiveInBackground":true,"appLanguage":"简体中文","characterVoicesSwitcher":{"Ryougi":true}}
