{"isManualModeOn":True,"isAutoReadingModeOn":False,"isSkipModeOn":False,"textShowDuration":0.03,"lineSwitchDuration":3,"skipModeLineSwitchDuration":0.1,"bgmVolume":1,"isBgmMute":False,"voicesVolume":1,"isVoicesMute":False,"isFullScreenModeOn":False,"resolution":"0x0","showCGInSkipMode":True,"showSpecialEffects":True,"showTextShadow":True,"showAnimation":True,"appActiveInBackground":True,"appLanguage":"Chinese","characterVoicesSwitcher":{{"Ryougi":true}}}
