a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    width: 100%;
    height: 100%;
    font-family: Roboto,sans-serif
}

body {
    width: 100%;
    /* height: 100%; */
    line-height: 1;
    background-color: #fafafa;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility
}

a {
    text-decoration: none;
    color: #212121
}

:focus {
    outline: 0
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 800;
    line-height: 1.2em
}

h1 {
    font-size: 36px;
    text-align: center
}
h2 {
    font-size: 28px;
    text-align: center
}
h3 {
    font-size: 24px
}
h4 {
    font-size: 18px
}
h5 {
    font-size: 16px
}
h6 {
    font-size: 14px
}

sub, sup {
    font-size: smaller
}

sub {
    vertical-align: sub
}

sup {
    vertical-align: super
}

pre::-webkit-scrollbar {
    display: none;
}
pre {
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
}